@if (loading) {
<div class="loading"><mat-spinner></mat-spinner></div>
}
<div>
  <div>
    <mat-toolbar class="toolbar_sty">
      <span>Ticket Booking System</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        (click)="openDialog('create')"
        class="example-icon favorite-icon"
        matTooltip="Create Booking"
        aria-label="Create Booking"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="openDialog('cancel')"
        class="example-icon favorite-icon"
        matTooltip="Cancel Booking"
        aria-label="Cancel Booking"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="seat_box">
    <div class="seating_plan">
      <mat-grid-list cols="7" rowHeight="40px">
        @for (seat of seats; track seat) {
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <p class="seat_text">{{ seat.seat_id }}</p>
          <mat-icon class="seat_icon" [class.booked]="seat.is_reserved == 1"
            >weekend</mat-icon
          >
        </mat-grid-tile>
        }
      </mat-grid-list>

      <mat-grid-list style="margin-top: 1vh" cols="2" rowHeight="40px">
        @for (tile of tiles1; track tile;let idx = $index) {
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-icon class="seat_icon" [class.booked]="(idx + 1) % 2 == 0"
            >weekend</mat-icon
          >
          <p class="seat_text">
            {{ idx + (1 % 2) == 0 ? "Available" : "Booked" }}
          </p>
        </mat-grid-tile>
        }
      </mat-grid-list>
    </div>
  </div>
</div>
