.example-spacer {
    flex: 1 1 auto;
}

.toolbar_sty{
    background-color: darkseagreen;
    color: white;
}

.seat_box{
    background-color:lightgrey;
    top: 6vh;
    left: 10vh;
    width: 170vh;
    height: 80vh;
    position: relative;
    border-radius: 20px;
}

.seating_plan{
    top: 8vh;
    left: 10vh;
    width: 150vh;
    height: 60vh;
    position: relative;
}

.seat_icon{
    margin: 10px;
    color: white;
}

.booked{
    color: red;
}

/* Loader */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}